@media screen and (min-width: 769px) {
    .sm-only {
        display: none;
    }

    .md-only {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .sm-only {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .md {
        display: none;
    }
}

@media screen and (max-device-width: 1199px) {
    .desktop-only {
        display: none;
    }
}

textarea {
    resize: none;
}

a:focus {
    outline: none;
}


/* background
----------------------------------------------------------------------------------------------------------------------*/
.handmadepaper
{
    background-image: url('../imgs/bg/handmadepaper.png');
}

/* Buttons
----------------------------------------------------------------------------------------------------------------------*/
.btn
{
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    margin-bottom: 2px;
}

.btn:focus {
    outline: none;
}

.input-group-addon.btn:not(.active),
.input-group-btn > .btn
{
    box-shadow: none;
}

.btn-big-1 {
    padding: 10px 20px;
    line-height: normal;
    background-color: #FFA500;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

.btn-big-1:hover {
    background-color: #ee9b00;
    color: #fff;
}


/* Badges
----------------------------------------------------------------------------------------------------------------------*/

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}

/* general
----------------------------------------------------------------------------------------------------------------------*/

.hidden {
    display: none;
}

.abs-time {
    font-style: normal;
}

.err-msg {
    color: red;
    margin-left: 15px;
    font-size: smaller;
}

.icon {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    margin-right: 3px;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.icon-parking {
    background-image: url('../imgs/parking.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/parking.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/parking.png', sizingMethod='scale')";
}

.icon-handicap {
    background-image: url('../imgs/handicap.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/handicap.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/handicap.png', sizingMethod='scale')";
}

.icon-walkin {
    background-image: url('../imgs/walkin.png');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/walkin.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/walkin.png', sizingMethod='scale')";
}

.icon.facebook {
    background-image: url(../imgs/facebook-64.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/facebook-64.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/facebook-64.png', sizingMethod='scale')";
}

.icon.twitter {
    background-image: url(../imgs/twitter-64.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/twitter-64.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/twitter-64.png', sizingMethod='scale')";
}

.icon.gps {
    background-image: url(../imgs/gps-location.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/gps-location.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/gps-location.png', sizingMethod='scale')";
}

.icon-parking, .icon-handicap, .icon-walkin, .icon.facebook, .icon.twitter, .icon.gps {
    background: no-repeat center center fixed\0/; /* IE8 hack */
}

label .icon
{
	float: left;
}

/* Ajax statuses
----------------------------------------------------------------------------------------------------------------------*/
#ajax-global-status {
    display: none;
    width: 24px;
    height: 24px;
    background: url("../imgs/ajax/ajax-loader-circle.gif") center no-repeat;
}


/* avatars
----------------------------------------------------------------------------------------------------------------------*/
.avatar
{
    margin-right:5px;
}
.avatar > img
{
    width: 32px;
    max-height: 64px;
    display: inline-block;
    border-radius: 3px;
}

.avatar.main > img
{
    border-radius: 60px;
}


/* media
----------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .media .avatar.main > img.media-object
    {
        width: 48px;
    }
}

.media .timestamp
{
    font-size: 12px;
    font-style: italic;
}

.media:last-child > hr
{
    display: none;
}

.media h4
{
    font-weight: bold;
}


/* navigation block
----------------------------------------------------------------------------------------------------------------------*/

header .navbar {
    z-index: 1000;
}

header .navbar-brand
{
    padding: 12px;
}

header .logo {
    float: left;
    height: 29px;
}

header .logo img {
    height: 100%;
}

header .navbar .sm-only 
{
    margin-left: 8px;
}

header ul.nav
{
    font-size: 18px;
}

header ul.nav .glyphicon
{
    font-size: 20px;
}

header ul.nav .badge
{
    font-size: 8px;
    margin-left: 12px;
    font-weight: 100;
}

header .navigation
{
    width: 100%; 
    position: absolute;
    z-index: 999;
    border-bottom: solid 1px #e6e6e6;
}

header .ajax-status-bar {
    margin-right: 15px;
    padding-top: 13px;
}

/* selector
----------------------------------------------------------------------------------------------------------------------*/
ul.selectors  > li
{
    list-style: none;
    position: relative;
}

ul.selectors:hover > li.selected div.selector
{
    display: none;
}

ul.selectors:hover > li.selected > a
{
    cursor: default;
}

ul.selectors  > li:hover div.selector,
ul.selectors  > li.selected div.selector
{
    display: block;
    position: absolute;
    background-color: #49b5b4;
    width: 100%;
    height: 4px;
    bottom: 0px
}

.navbar ul.selectors > li div.selector
{
    top: 100%;
}

.navbar ul.selectors > li > a
{
    padding-top: 13px;
    padding-bottom: 14px;
}

.navbar ul.selectors > li.selected > a
{
    color: black;
}

@media (min-width: 768px) {
    header .navigation
    {
        position: fixed;
    }
    
    .navbar ul.selectors > li div.selector
    {
        margin-top: 2px;
    }
}

@media (max-width: 767px) {
    header .navbar ul.selectors > li:hover div.selector,
    header .navbar ul.selectors > li.selected div.selector
    {
        width: 4px;
        height: 100%;
        left: 0px;
        top: 0px;
    }
}

/* notification block
----------------------------------------------------------------------------------------------------------------------*/


header .navbar .popover .notifications > a
{
    font-size: 14px;
    white-space: inherit;
    width: 250px;
}

header .navbar .popover .notifications > a > i
{
    float: right;
    font-size: smaller;
    opacity: 0.5;
    margin-top: 4px;
}

/* Icons
----------------------------------------------------------------------------------------------------------------------*/
.err-msg.glyphicon-exclamation-sign,
.glyphicon-ban-circle,
.glyphicon-remove-circle
{
    color: red;
}

a.disabled > .glyphicon,
.glyphicon.disabled {
    opacity:0 !important;
}

img.return-icon
{
    height: 16px;
    float: right;
    opacity: 0.2;
    margin-top: -25px;
    margin-right: 10px;
}

img.return-icon.alt
{
    position: absolute;
    right: 10px;
    margin-top: 3px;
    margin-right: 3px;
}

/* ratings
----------------------------------------------------------------------------------------------------------------------*/
.stars
{
    white-space: nowrap;
}

.stars i.glyphicon
{
    color: #f89406;
}

.stars .glyphicon-star-empty
{
    opacity:.2!important
}


/* Alerts
----------------------------------------------------------------------------------------------------------------------*/
.global-alerts-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.global-alert {
    display: none;
    text-align: center;
}

/* calendar
----------------------------------------------------------------------------------------------------------------------*/

.oc-calendar
{
    border: 1px solid #ddd;
    border-radius: 3px;
    min-width: 100%;
}

.oc-calendar > .month
{
    padding-top: 15px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

.oc-calendar > .names > div
{
    font-weight: bold;
}

.oc-calendar > .days > span
{
    color: transparent;
}

.oc-calendar > .names > div,
.oc-calendar > .days > div,
.oc-calendar > .days > span
{
    display: inline-block;
    width: 14.285714%;
    text-align: center;
    height: 50px;
    padding-top: 15px;
}

.oc-calendar > .days > div
{
    cursor: pointer;
}

.oc-calendar > .days > div:hover,
.oc-calendar > .days > div.selected
{
    background-color: #49b5b4;
}
