body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-image: url(/img/bg.jpg);
	background-repeat: repeat;
	background-position: top center;
	padding-bottom: 30px;
}

h1 {
	font-weight: 200;
}

#App {
	margin-top: 80px;
	text-align: center;
}

.tile {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;

	background-color: white;
	border: 5px solid #c3dcee;
	color: #4b6784;
	display: inline-block;
	font-size: 30px;
	font-weight: 100;
	height: 200px;
	margin: 25px;
	padding-top: 70px;
	width: 200px;
}
.tile:hover {
	border-color: #4b6784;
	text-decoration: none;
}
.age .tile {
	font-size: 50px;
	padding-top: 55px;
}

.centered-form {
	width: 300px;
	margin: 30px auto;
	padding-right: 35px;
}

.btn-wide {
	padding-left: 50px;
	padding-right: 50px;
}

.icon-tiles > div > a > img
{
	width: 50%;
}
.icon-tiles > div > .tile
{
	padding-top: 25px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#page-wrap {
    position: relative;
    z-index: 2;
    color: white;
    margin: 50px auto;
    padding: 20px;
}
