<div class="doctor-info">
	<div class="doctor-left">
		<img data-ng-src="{{ doctor.image }}" class='photo'/>
	</div>
	<div class="doctor-main">
		<h3>
			<a href="javascript:void(0);">{{ doctor.name }}</a>
		</h3>
		<div>{{ doctor.address.street }} {{ doctor.address.city }}</div>

		<div ng-if="isEmptyObj(doctor.availability)"> <strong>Currently unavailability</strong>
		</div>

		<div ng-if="!isEmptyObj(doctor.availability)"> <strong>Availability</strong>
			:
			<ul data-ng-repeat="avail in doctor.availability">
				<li>{{avail}}</li>
			</ul>
			<img class="phone_call" data-ng-src="/img/phone_call.png"/>
		</div>

		<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ doctor.coords.lat }},{{ doctor.coords.lng }}&zoom=15&size=500x300&sensor=false">

		<div ng-if="doctor.reviews.length >
			0">
			<strong>Review</strong>
			:
			<ul data-ng-repeat="revi in doctor.reviews">
				<li>rating: {{revi.rating}}</li>
				<li>comments: {{revi.comments}}</li>
				<li>
					Attributes:
					<ul>
						<li>Staff: {{revi.attributes.staff}}</li>
						<li>Punctual: {{revi.attributes.punctual}}</li>
						<li>Helpful: {{revi.attributes.helpful}}</li>
						<li>Knowledge: {{revi.attributes.knowledge}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>