<h1>What 3 factors do you care about most?</h1>
<div class='icon-tiles'>
	<div>
		<a href="#/traits" class="tile"><img src='/img/experience_150.png' /><br/>Experience</a>
		<a href="#/traits" class="tile"><img src='/img/calendar_150.png' /><br/>Availability</a>
		<a href="#/traits" class="tile"><img src='/img/pin_150.png' /><br/>Location</a>
	</div>
	<div>
		<a href="#/traits" class="tile"><img src='/img/care_150.png' /><br/>Attentiveness</a>
		<a href="#/traits" class="tile"><img src='/img/education_150.png' /><br/>Education</a>
		<a href="#/traits" class="tile"><img src='/img/reputation_150.png' /><br/>Reputation</a>
	</div>
	<a href="#/results" class="btn btn-primary btn-lg btn-wide">Next</button>
</div>